################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ticket-api/CopilotIndices/17.14.670.39694
/.vs/ticket-api/FileContentIndex
/.vs/slnx.sqlite
